{% extends 'base.html.twig' %}

{% block title %}Personnages{% endblock %}
{% block monTitre %}Personnages{% endblock %}

{% block body %}
    <table class="table">
        <tr class="thead-dark">
            <th>Image</th>
            <th>Nom</th>
            <th>Age</th>
            <th>Sexe</th>
            <th>Force</th>
            <th>Agilité</th>
            <th>Intelligence</th>
        </tr>
        {% for value in tabPersonnage %}
        <tr>
            <td><img src="{{asset('images/personnages/'~ value.pseudo ~'.png')}}" alt=""></td>
            <td><a href="{{path('afficherPersonnage', {'nom' : value.pseudo})}}">{{value.pseudo}}</a></td>
            <td>{{value.age}}</td>
            <td>{% if value.sexe %} Homme {% else %} Femme {% endif %}</td>
            <td>{{value.carac.force}}</td>
            <td>{{value.carac.agi}}</td>
            <td>{{value.carac.intel}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
